@model BlogProject.Models.Blog

@{
    ViewData["Title"] = "Delete Blog";
}

@{
    /* ENHANCEMENT : Add count of posts in blog */
    /* TODO : Add error message IF count of posts in blog > 0 : there are one or more posts in this Blog. You must save each under a new Blog Name before deleting this Blog*/
}

<h2>Delete Blog :</h2>
<p class="h3">Are you sure?</p>
<p>This action is PERMANENT and cannot be reversed</p>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BlogUser)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BlogUser.FullName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Created)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Created)
    </dd>
</dl>

<div class="mb-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" asp-controller="Blogs" value="Confirm Delete" class="btn w-25 btn-danger rounded-3" /> |

        <a asp-action="Index" asp-controller="Home">Back Home</a>
    </form>
</div>    

<div>
    
</div>



@section Scripts {
    
    <script>

        // Will trigger onClick of the edit page Delete button if there are one or more posts in the Blog to be deleted
        var swalMsg = '@TempData["ErrorMessage"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'error',
                title: swalMsg,
                time: 5000
            }).then(function(){window.location = "@Url.Action("BlogPostIndex", "Posts", new { id = Model.Id })";})
        }

    </script>

}
