@using Microsoft.AspNetCore.Identity
@using BlogProject.Enums
@using BlogProject.Models
@using BlogProject.Services
@using X.PagedList
@using X.PagedList.Mvc.Core

@inject IImageService imageService
@inject UserManager<BlogUser> userManager

@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home - Blogs Index";
}

@{
    /* FEATURE : Make images responsive to screen size changes (aspect ratio) */
    /* TODO : Make the card heights uniform regardless of the description length */
    /* TODO : Fix Blog Edit Action - Does not update in database upon Submit (becuse blog model image is not nullable...upload current picture to edit view, or change and migrate/update database to allow nullable image, or add error message to inform user that they must re-upload a picture).  */
    /* TODO : Redirect to Home Index after editing blog */
    /* LEARN : How can you add alt text for dynamically loaded images? Perhaps add a field after the image select forms for user to write their own before subitting? Feature idea: include AI to help write initial alt text suggestion */
    /* TODO : If GuesAuthor Role is used, add logic here (if true display create blogPost button desplayed but not the edit blog button var isAuthor = false */
    @* {
            isAuthor = User.IsInRole(BlogRole.GuestAuthor.ToString()); // does the logged in user occupy the GuestAuthor role?
            isAuthor = isAuthor && (post.BlogUserId == userManager.GetUserId(User)); // is the logged in user the author of this post?
        } *@
}

<div class="row">
    @foreach (var blog in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <div class="card border-dark">
                <img class="card-img-top" src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="" />
                <div class="card-body text-center">

                    <div class="bg-warning">
                        <hr class="card-hr" />
                        <h2 class="card-title h5">@blog.Name</h2>
                        <hr class="card-hr" />
                    </div>

                    @{
                        /* TODO: Make the card heights uniform regardless of the description length */
                    }
                  
                    <!-- ToolTip : Display full description on focus/hover -->
                    <p id="tooltip" role="tooltip" tabindex="0" data-toggle="tooltip" data-placement="top" title="@blog.Description" data-original-title="@blog.Description" class="card-text cftooltip">@blog.Description
                    </p>
                    <br />
                    
                    <div class="text-center">
                        <a class="btn btn-sm btn-wide btn-dark mb-2" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">View Posts</a>
                    </div>

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a class="btn btn-sm btn-wide btn-primary mb-4" asp-action="Create" asp-controller="Posts" asp-route-id="@blog.Id">Create Post</a>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-sm btn-wide btn-danger" asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id">Edit Blog</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<hr />

@***** PAGING SECTION *****@

<!-- Page Count -->
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<!-- Paged List Core -->
<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), 
            new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </div>
</div>

@section Scripts {
    <script>

        var swalMsg = '@TempData["SweetAlert"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'success',
                title: swalMsg,
                time: 5000
            })
        }

        $(document).ready(function () {
            $("p").tooltip();
        });

    </script>
}























@* <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @*Insert posts from database w/for each loop
 *@
@*             @foreach (var blog in Model)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                        <h2 class="post-title">
                            @blog.Name
                        </h2>
                        <h3 class="post-subtitle">
                            @blog.Description
                        </h3>
                    </a>
                    <p class="post-meta">
                        Authored by
                        <a href="#">@blog.BlogUser.FullName</a>
                        on @blog.Created?.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }



            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class=" btn btn-sm btn-primary text-uppercase" style="border-radius:20px; line-height:2" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>

<!--Add Paging controls here-->
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page}), 
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item"},
            PageClasses = new string[] { "page-link"}
        })

    </div>
</div> *@