@using BlogProject.Services
@model BlogProject.Models.Post

@inject IImageService imageService

@{
    ViewData["Title"] = "Details";
}


<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @* Render the markup content captured by the Summernote WYSIWYG*@
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>


<!-- Display Post Tags -->
<hr />

<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Custom Post Tags
        </div>
    </div>
    <!-- Link to index of other Posts with each tag -->
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />


<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 control-label fw-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    }
    else
    {
        <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
    }


</div>

<hr />

<span class="btn btn-dark">@Model.Comments.Count COMMENT(S)</span>

@foreach (var comment in Model.Comments)
{
    <div class="d-flex">
        <div class="flex-shrink-0 media-border p-0 mb-2 bg-light">
            <img class="mr-3 mt-3 rounded-circle" style="width:60px;" alt="" src="@imageService.DecodeImage (comment.BlogUser.ImageData, comment.BlogUser.ContentType)" />
            <div class="flex-grow-1 ms-3">
                <h4>@comment.BlogUser.FullName</h4>
                <small><i> Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
                <p>@comment.Body</p>
            </div>


        </div>
    </div>
    
}

<!-- Display Comments related to this Post -->
@*            add Comments form control 
 <form asp-controller="Comments" asp-action="Create">
     <input type="hidden" />
     <input type="submit" class="btn" />
 </form>*@

<!-- Display the image of the Comment's Author -->