@using Microsoft.AspNetCore.Identity
@using BlogProject.Services

@model BlogProject.Models.Post

@inject UserManager<BlogUser> userManager
@inject IImageService imageService


@{
    ViewData["Title"] = "Details";
}

<!-- Post Content -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @* Render the markup content captured by the Summernote WYSIWYG*@
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

<!-- Display Post Tags -->
<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Custom Post Tags
        </div>
    </div>
    <!-- Link to index of other Posts with each tag -->
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<!-- Comment Form -->
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 control-label fw-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    }
    else
    {
        <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
    }
</div>

<hr />

<span id="commentSection" class="btn btn-dark w-100">@Model.Comments.Count COMMENT(S)</span>

@* //Creating dynamic id attributes for modals inside a foreach loop
//Modal and button code is minimal
//HTML id's must begin with a letter or underscore - you cannot only use the item's Id property for the HTML id
//Model declared on page is IEnumberable<T>
    - any collection can use this technique *@


<!-- Display Comments -->
@foreach (var comment in Model.Comments)
{
    <div class="d-flex">
        <div class="flex-shrink-0 media-border p-0 mb-3 bg-light w-100">
            <img class="mt-3 rounded-circle" style="width:60px;" alt="" src="@imageService.DecodeImage (comment.BlogUser.ImageData, comment.BlogUser.ContentType)" />
            <div class="flex-grow-1 ms-3">
                <h4>@comment.BlogUser.FullName</h4>
                <small><i> Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
                <p>@comment.Body</p>
            </div>

            @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr />
                <button type="button" class="btn btn-dark float-end fw-bold" data-bs-toggle="modal" data-bs-target="#comment-@comment.Id">EDIT</button>
            }

        </div>
    </div>

    @* Modal *@
    <div id="comment-@comment.Id" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editing Comment...</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)
                        <div class="form-group">
                            <textarea name="Body" class="form-control mb-2" required>@comment.Body</textarea>
                            <button type="submit" class="btn btn-dark border-success fw-bold">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark fw-bold" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

}

  


<!-- Display Comments related to this Post -->
@*            add Comments form control 
 <form asp-controller="Comments" asp-action="Create">
     <input type="hidden" />
     <input type="submit" class="btn" />
 </form>*@

<!-- Display the image of the Comment's Author -->